
$start-gradien-color=#9C88E9
$stop-gradien-color=#4CECCD

.ui-background 
    background linear-gradient(
        to bottom left, 
        mix($start-gradien-color, #000, 30%), 
        mix($stop-gradien-color, #000, 30%)
    )
    flex-grow 1
    flex-shrink 1
    width 100%;
    height 100%
    position relative
    color #B1B9CC

