.ui-card
    background-color #F9FBFF
    box-shadow 0 4px 4px rgba(0, 0, 0, 0.25)
    color #6C7486
    border-radius 8px
    &__content
        padding 16px 20px 18px
        box-sizing border-box

