@require "normalize.css"

html
    height 100%

body 
    font-family 'Roboto', sans-serif
    min-height 100%
    font-size 12px

@import './page.styl'
@import './grid.styl'
@import '../components/bet-page/bet-page.styl'
@import '../components/ui-background/ui-background.styl'
@import '../components/ui-button/ui-button.styl'
@import '../components/ui-card/ui-card.styl'
@import '../components/ui-checkbox/ui-checkbox.styl'
@import '../components/ui-container/ui-container.styl'
@import '../components/ui-highlight/ui-highlight.styl'
@import '../components/ui-icon/ui-icon.styl'
@import '../components/ui-input/ui-input.styl'
@import '../components/ui-range/ui-range.styl'
@import '../components/ui-tabs/ui-tabs.styl'
@import '../components/ui-toggler/ui-toggler.styl'