.grid
    display flex
    &__column
        flex-grow 1
        flex-shrink 1
        text-align center
        padding-right 15px
        max-width 50%
        &:last-child
            padding-right 0