.ui-button
    display inline-block
    box-shadow 2px 8px 30px rgba(137, 112, 229, 0.4)
    min-width 147px
    appearance none
    text-align center
    background-color #8970E5
    height 45px
    line-height 45px
    border medium none
    color #fff
    font-weight 900
    letter-spacing 0.1em
    text-transform uppercase
    font-size 10px
    cursor pointer
    border-radius 100px
    transition background-color .2s ease-in-out
    outline 0
    padding 0
    user-select none
    &-hover,
    &:hover
        background-color #7970E5
    &-active,
    &:active,
    &:focus
        background-color rgba(121, 112, 229, 0.8)
    &:focus
        outline none
    &-mini
        min-width 70px
        height 36px
        line-height 26px
        border-radius 4px
        box-shadow none
    // width 100%