.ui-highlight
    display grid
    grid-template-columns 274px 127px 1fr
    grid-gap 20px
    min-height 84px
    box-sizing border-box
    padding 18px 20px 20px
    background linear-gradient(83.74deg, rgba(2, 229, 184, 0.55) -14.87%, #8970E5 91.1%)
    background-blend-mode darken
    border-radius 8px
    border none
    & .ui-input__label,
    &__label
        font-weight bold
        font-size 12px
        line-height 12px
        margin-bottom 6px
        text-align-last left
        color #fff
    // &__content
    //     height 44px
    //     line-height 44px
    //     background-color #fff
    //     border-radius 8px
    & .ui-input
        margin-right 20px
        &:last-child
            margin-right 0
    &  .ui-input__content
        border transparent
        height 44px
        line-height 44px
        text-align center