.ui-icon
    display inline-flex
    align-items center
    justify-content center
    box-sizing border-box
    padding 5px 0
    vertical-align: sub;
    &__element
        max-width 15px
        max-height 15px